**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.coverage
**/.tox/
**/.mypy_cache/
**/.eggs/
**/*.egg-info/
**/.DS_Store
**/.git/
**/node_modules/
**/*.log
**/*.sqlite3
**/media/
**/static/
**/tmp/
**/temp/
